@layout('layouts/app')

@section('content')
    <div class="d-flex justify-content-center h-100"> 
        <div class="m-auto text-center">
            <h1> 

            Sorry, this page isn't available.    
            </h1> 
            <p class="text-muted m-5 "><small> The link you followed may be broken, or the page may have been removed. Go back to insta.</small>  </p>
        </div>
    </div>


    
@endsection